In [1]:
import pandas as pd

In [17]:
data_path = 'nii_inf/export_EPI_MAIN_weekly_201540_201939_FINAL.xlsx'
df = pd.read_excel(data_path)
df.head()

,REGION_NAME,DISTRICT_NAME,LPU_NAME,YEAR,WEEK,ARI_0_2,ARI_3_6,ARI_7_14,ARI_15,ARI_TOTAL,ILI_0_2,ILI_3_6,ILI_7_14,ILI_15,ILI_TOTAL,POP_0_2,POP_3_6,POP_7_14,POP_15,POP_TOTAL
0,Дальневосточный ФО,Биробиджан,ЦГиЭ,2015,40,212,163,87,85,547,0,0,0,0,0,2929,3810,6470,61568,74777
1,Дальневосточный ФО,Владивосток,ЦГиЭ,2015,40,631,811,359,570,2371,0,0,0,0,0,19634,26033,48036,495273,588976
2,Дальневосточный ФО,Магадан,ЦГиЭ,2015,40,149,200,155,128,632,0,0,0,0,0,3696,4601,8429,84319,101045
3,Дальневосточный ФО,Петропавловск,ЦГиЭ,2015,40,297,334,226,193,1050,0,0,0,0,0,6754,7979,13889,152393,181015
4,Дальневосточный ФО,Улан-Удэ,ЦГиЭ,2015,40,144,159,75,228,606,0,0,0,0,0,23314,28731,45498,365197,462740

In [18]:
cities = set(list(df['DISTRICT_NAME']))
len(cities)

61

In [26]:
cities_upper = {city.upper() for city in cities}

In [28]:
air_df = pd.read_csv('new_data/raw_data/air_raw.csv')
air_df.head()

          Город Республика, область, край 2017 год 2018 год 2019 год
0      БЕЛГОРОД         Белгородская обл.        Н        Н        Н
1        БРЯНСК             Брянская обл.        Н        Н        Н
2      ВЛАДИМИР         Владимирская обл.        Н        Н        Н
3  ВОЛГОРЕЧЕНСК          Костромская обл.        Н        Н        Н
4       ВОРОНЕЖ          Воронежская обл.        В        В        П

In [20]:
# air_df['Город'] = [city.capitalize() for city in air_df['Город']]
# air_df.head()

          Город Республика, область, край 2017 год 2018 год 2019 год
0      Белгород         Белгородская обл.        Н        Н        Н
1        Брянск             Брянская обл.        Н        Н        Н
2      Владимир         Владимирская обл.        Н        Н        Н
3  Волгореченск          Костромская обл.        Н        Н        Н
4       Воронеж          Воронежская обл.        В        В        П

In [30]:
len(set(air_df['Город']) & cities_upper)

60

{'ПЕТРОПАВЛОВСК'}